extends layout

block content

  if error
    p #{error}
  else
    h1 Folders
    each folder in folders
      - var folderComponents = folder.split('/')
      a(href='/?dir=#{folder}')= folderComponents[folderComponents.length-1]
      br

    h1 Images
    each file in files
      - var fileComponents = file.split('/')
      a(href='/view?path=#{file}')
        div.list-thumb(style='background-image:url("/image?path=#{encodeURIComponent(file)}")')

    div.size-control
      button 100
      button 200
      button 400
      button 600