extends layout

block content
  h1= title
  p Welcome
  if error
    p #{error}
  else
    each folder in folders
      - var folderComponents = folder.split('/')
      a(href='/?dir=#{folder}')= folderComponents[folderComponents.length-1]
      br