extends layout

block content
  if error
    p #{error}
  else
    img(src='/image?path=#{encodeURIComponent(path)}')

  div.view-nav
    if prev
      a(href='/view?path=#{prev}')
        div#prev prev
    if next
      a(href='/view?path=#{next}')
        div#next next