body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.list-thumb{
  float: left;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  margin: 5px;
}

div.size-control{
  position: fixed;
  right: 0;
  top: 0;
}