body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.folder:first-child{
  color: #666;
}

div.list-thumb{
  float: left;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  margin: 5px;
}

div.size-control{
  position: fixed;
  right: 0;
  top: 0;
}

div.view-nav{
	position: fixed;
  height: 100%;
  width: 7%;
	right: 0;
	top: 0;
}

div.view-nav #prev{
  /*position: absolute;*/
  top: 50%;
  height: 50%;
  background: rgba(0,0,0,0.3);
  color: white;
  text-decoration: none;
}

div.view-nav #next{
  top: 0;
  height: 50%;
  background: rgba(0,0,0,0.3);
  color: white;
  text-decoration: none;
}